<h2>Here are stores where <%= @brand.name %> is currently carried.</h2>
<div class='row justify'>
  <div class='col-lg-6'>
    <form action="/brands/<%= @brand.id() %>" method="post">
      <input type="text" name="brand_name" id="brand_name">
      <input name="_method" type="hidden" value="patch">
      <button class="btn" type="submit" name="button">New Brand Name</button>
    </form>
    <hr>
  </div>
  <div class='col-lg-6'>
    <div class="form-group justify">
      <a class='btn pull-right' href="/">Home</a>
      <form action="/brands/<%= @brand.id() %>" method="post">
        <input name="_method" type="hidden" value="delete">
        <button class="btn" type="submit">Remove Brand</button>
      </form>
    </div>
    <hr>
  </div>
</div>
<div class="row container">
  <div class="col-xs-3">
    <div>
      <h4>All stores.</h4>
      <ul>
      <% if @stores %>
        <% @stores.each do |store| %>
          <li><%= store.name %>
            <form action="/brands/<%= @brand.id() %>/stores/<%= store.id() %>" method="post">
              <button class="btn" type="submit">Add to Store to Brand</button>
            </form>
          </li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="col-xs-3">
    <div>
      <h4>This Brand's Stores.</h4>
      <ul>
        <% if @brand.stores() %>
          <% @brand.stores().each() do |store| %>
            <li><%= store.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
