<h2>Here are stores where this <%= @brand.name %> is currently carried.</h2>
<a class='btn btn-warning'href="/">Home</a>
<form class="" action="/brands/<%= @brand.id() %>" method="post">
  <input name= "_method" type="hidden" value="delete">
  <button class = "btn btn-danger" type="submit">Remove Store</button>
</form>
<form action="/brands/<%= @brand.id() %>" method="post">
  <button type="submit" class="btn btn-warning">Update Name</button>
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label for="brand_name">Edit Brand Name</label>
    <textarea rows="1" cols="10" id = "name" type="text" name="brand_name" value="<%= @brand.name %>" class="form-control"></textarea>
  </div>
</form>

<div class="row container">
  <div class="col-xs-3">
    <div>
      <h4>All stores.</h4>
      <ul>
      <% if @stores %>
        <% @stores.each do |store| %>
          <li><%= store.name %>
            <form action="/brands/<%= @brand.id() %>/stores/<%= store.id() %>" method="post">
              <button class = "btn" type="submit">Add to Store to Brand</button>
            </form>
          </li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="col-xs-3">
    <div>
      <h4>This Brand's Stores.</h4>
      <ul>
        <% if @brand.stores() %>
          <% @brand.stores().each() do |store| %>
            <li><%= store.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
