<h2>Here are the brands <%= @store.name %> carries and the other brands available.</h2>
<div class='row justify'>
  <div class='col-lg-6'>
    <form action="/stores/<%= @store.id() %>" method="post">
      <input class="" type="text" name="store_name" id="store_name">
      <input name="_method" type="hidden" value="patch">
      <button class="btn" type="submit" name="button">New Store Name</button>
    </form>
    <hr>
  </div>
  <div class='col-lg-6'>
    <div class="form-group justify">
      <a class='btn btn-warning pull-right' href="/">Home</a>
      <form action="/stores/<%= @store.id() %>" method="post">
        <input name="_method" type="hidden" value="delete">
        <button class="btn btn-danger" type="submit">Remove Store</button>
      </form>
    </div>
    <hr>
  </div>
</div>
<div class="row container">
  <div class="col-xs-3">
    <div>
      <h4>All brands.</h4>
      <ul>
      <% if @brands %>
        <% @brands.each do |brand| %>
          <li><%= brand.name %>
            <form action="/stores/<%= @store.id() %>/brands/<%= brand.id() %>" method="post">
              <button class = "btn" type="submit">Add Brand to Store</button>
            </form>
          </li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="col-xs-3">
    <div>
      <h4>This stores that carry this brand.</h4>
      <ul>
        <% if @store.brands() %>
          <% @store.brands().each() do |brand| %>
            <li><%= brand.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
